@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* CORES WEBSITE */
:root {
    --primary-color:        #0071CE;
    --secondary-color:      #FFCC33;
    --background-color:     #F5F5F5;
    --forefront-elem-color: #ffffff;
    --light-text-color:     #ffffff;
    --dark-text-color:      #000000;
    --footer-color:         #212529;
}
/* ------------- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--background-color);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--forefront-elem-color);
    padding: 10px 0;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.24);
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.24);
}
header a {
    text-decoration: none;
    color: var(--dark-text-color);
}
header .logo {
    padding-left: 20px;
}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 12%;
    margin-right: 20px;
}
.link:hover {
    text-decoration: underline;
}
.profilebg {
    background-image: url('images/profile.png');
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.cartbg {
    background-image: url('images/cartnav.svg');
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo {
    font-family: 'Krona One', Arial, Helvetica, sans-serif;
}
.banner-bg {
    background-image: url('images/bannerbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    z-index: -1;
    background-color: var(--forefront-elem-color);
}
.banner-text {
    padding-top: 20px;
    color: var(--light-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
}
.banner-text p {
    padding-top: 10px;
}
.promotion-bg {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 10px 50px;
}
.promotion-bg h3 {
    margin-bottom: 5px;
}
.card-title {
    padding-top: 30px;
    padding-left: 50px;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-decoration-thickness: 3px;
}
.card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.card {
    text-align: left;
    width: 190px;
    background-color: var(--forefront-elem-color);
    color: var(--dark-text-color);
    padding: 10px 10px;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.24);
    box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.24);
}

.card h3 {
    margin-top: 15px;
}
.card p {
    margin-bottom: 60px;
}
.card img {
    background-size: contain;
    width: 170px;
    height: 150px;
    align-items: center;
    margin: 0 auto;
}
.image-button {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 15px;
    margin: 0;
    display: flex;
}

.image-button img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}

.image-button p {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    padding-left: 7px;
}
.image-button span {
    margin-left: 10px;
    vertical-align: middle;
}
#rectangle {
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 270px;
    padding-top: 90px;
    height: 50px;
    width: 100%;
    z-index: -1;
}

footer {
    background-color: var(--footer-color);
    text-align: left;
    color: var(--light-text-color);
    font-family: Poppins, sans-serif;
    font-size: 1.3rem;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}
footer .logo {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-weight: lighter;
}
footer iframe {
    padding-left: 50px;
    padding-bottom: 30px;
}

.contactos-footer {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

}
.contactos-text {
    margin-left: 10px;
    
}
  
.contactos-text p {
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.contactos-text .title {
    font-size: 1.5rem;
}
footer hr {
    margin-bottom: 20px;
    border-color: var(--dark-text-color);
}
footer .copyright {
    font-size: 0.9rem;
    padding-bottom: 20px;
    padding-left: 50px;
}

.pag-socials-footer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.socials p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.soc-img {
    width: 30px; 
    height: 30px; 
    display: inline-block; 
    margin: 0 10px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}
.soc-twitter {
    background-image: url('images/twitter.svg'); 
}
  
.soc-linkedin {
    background-image: url('images/linkedin.svg'); 
}
  
.soc-instagram {
    background-image: url('images/instagram.svg');  
}
  
.soc-facebook {
    background-image: url('images/facebook.svg'); 
}
  
.soc-tiktok {
    background-image: url('images/tiktok.svg');
}

.pag-img {
    display: inline-block; 
    margin: 0 10px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}
.w-8 {
    width: 2rem;
}
.w-16 {
    width: 4rem;
}
.pag-mastercard {
    background-image: url('images/mastercard.svg');
    height: 37.2px;
    width: 48px;
    background-size: cover;
}

.pag-visa {
    background-image: url('images/visa.svg');
    height: 37.2px;
    width: 48px;
    background-size: cover;
}

.pag-mb {
    background-image: url('images/multibanco.svg');
    width: 24px;
    height: 24px;
}

.pag-mbway {
    background-image: url('images/mbway.svg');
    width: 48px;
    height: 24px;
}

.pag-klarna {
    background-image: url('images/klarna.svg');
}

.pag-sequra {
    background-image: url('images/sequra.svg');
}


.contact-form-container {
    background: var(--background-color);
    padding: 30px;
    box-shadow: 0 0 10px #bebebe;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold
}
.form-group input,
.form-group textarea {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group input {
    padding-right: 190px;
}
.form-group textarea {
    width: 370px;
}
button {
    background-color: var(--background-color);
    color: var(--forefront-elem-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:var(--background-color);
}

.contact-info {
    background-color: #eaeaea;
    padding: 20px;
}

.contact-info h2 {
    margin-top: 0;
}

.contact-methods {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contact-item {
    display: flex;
    flex-direction: column;
}
.center {
    align-items: center;
}
.left {
    align-items: left;
}
.contact-item p {
    padding-bottom: 20px;
}

.contact-item .icon {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    margin-bottom: 10px;
}
.icon-phone {
    background-image: url('images/phone.svg');
}
.icon-email {
    background-image: url('images/email.svg');
}
.contact-form button {
    padding: 10px 50px;
    background-color:var(--primary-color);
    color: var(--light-text-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.contact-form button:hover {
    text-decoration: underline;
}

#contact-title {
    padding-top: 75px;
    padding-bottom: 15px;
    font-weight: light;
    text-shadow: #000000;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    cursor: pointer;
    background-color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    left: -70px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: var(--dark-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    text-decoration: underline;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.cart-summary {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.cart-a {
    width: 30%;
    background-color: var(--background-color);
    padding: 20px;
    text-align: center;
    border: 1px dashed #ccc;
    border-radius: 10px;
}

.cart-empty .icon {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin: 0 auto 10px;
}
.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
}
.cart-empty .cartimg {
    padding-bottom: 20px;
}
.cart-empty p {
    padding: 10px;
}

.summary {
    width: 20%;
    padding: 20px;
    background-color: var(--background-color);
}
.summary p {
    margin-top: 10px;
}
.summary hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.summary button {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 25px;
    margin: 20px 0;
    cursor: pointer;
}

.cartimg {
    background-image: url('images/cartnav.svg');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-email {
    background-image: url('images/email.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-phone {
    background-image: url('images/phone.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}